 
.idea
*.iml
*.log
*.csv
config/config.json 
scripts/nohup.out
scripts/*.out
data/*.json
demodata/VPLEX/*.json
demodata/VPLEX/*.rar
demodata/VPLEX/*/*.json
demodata/VPLEX/*.gz 

__tests__/automation/data/*_result.json
__tests__/*.html
__tests__/coverage/base.css
__tests__/coverage/block-navigation.js
__tests__/coverage/favicon.png
__tests__/coverage/index.html
__tests__/coverage/prettify.css
__tests__/coverage/prettify.js
__tests__/coverage/sort-arrow-sprite.png
__tests__/coverage/sorter.js
__tests__/coverage/config/configger.js.html
__tests__/coverage/config/index.html 
__tests__/coverage/lib/*.html
__tests__/coverage/models/*.html  
node_modules

